

// Primary Colors
$SoftBlue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);

// Neutral Colors
$mainBg: hsl(217, 54%, 11%); //Main Background
$cardBg: hsl(216, 50%, 16%); //Card Background
$lineBg: hsl(215, 32%, 27%); //Line
$White: hsl(0, 0%, 100%);